<section class="bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-dark" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5 register-text">
                Apply course
              </h2>

              <form [formGroup]="signupcourse" (ngSubmit)="sendSignUpData()">
                <div class="form-outline mb-4">
                  <div class="form-group m-4">
                    <input
                      type="text"
                      class="form-control p-2"
                      placeholder="First Name *"
                      name="firstName"
                      value=""
                      formControlName="firstName"
                    />

                    <span
                      *ngIf="
                        firstName && firstName.invalid && firstName.touched
                      "
                      class="register-text"
                      >Please Enter Correct First Name</span
                    >
                  </div>

                  <div class="form-group m-4">
                    <input
                      type="text"
                      class="form-control p-2"
                      placeholder="Last Name *"
                      name="lastName"
                      value=""
                      formControlName="lastName"
                    />

                    <span
                      *ngIf="lastName && lastName.invalid && lastName.touched"
                      class="register-text"
                      >Please Enter Correct Last Name</span
                    >
                  </div>

                  <div class="form-group m-4">
                    <input
                      type="text"
                      class="form-control p-2"
                      placeholder="duration*"
                      name="duration"
                      value=""
                      formControlName="duration"
                    />
                  </div>

                  <!-- <div class="form-group m-4">
                    <input
                      type="password"
                      class="form-control p-2"
                      placeholder="Password *"
                      name="password"
                      value=""
                      formControlName="password"
                    />

                    <span
                      *ngIf="password && password.invalid && password.touched"
                      class="register-text"
                      >Please Enter Correct Password</span
                    >
                  </div> -->

                  <div class="form-group m-4">
                    <input
                      type="text"
                      name="txtEmpPhone"
                      class="form-control p-2"
                      placeholder="courseName *"
                      value=""
                      name="course"
                      formControlName="courseName"
                    />
                  </div>
                  <div class="form-group m-4">
                    <input
                      type="text"
                      name="txtEmpPhone"
                      class="form-control p-2"
                      placeholder="fees *"
                      value=""
                      name="fees"
                      formControlName="fees"
                    />
                  </div>
                  <div class="form-group m-4">
                    <input
                      type="text"
                      name="txtEmpPhone"
                      class="form-control p-2"
                      placeholder=""
                      value=""
                      name="courseId"
                      formControlName="courseId"
                    />
                  </div>

                  <div class="d-flex justify-content-center">
                    <input
                      type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                      value="Register"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
  </div>
</section>
